@model HomeworkApp.Models.AttendanceModels

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AttendanceModels</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberStudents)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberStudents)
            @Html.ValidationMessageFor(model => model.NumberStudents)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdLection)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.IdLection, ViewBag.Roles as SelectList, "Select ...", new { @class = "myClass", style = "width: 250px;" })
            @* @Html.EditorFor(model => model.IdLection)*@
            @Html.ValidationMessageFor(model => model.IdLection)
            
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
